.offset{
    box-shadow:
    0.3em 0.3em 0 0 var(--color),
    inset 0.3em 0.3em 0 0 var(--color);

    &:hover,
    &:focus{
        box-shadow:
        0 0 0 0 var(--hover),
        inset 6em 3.5em 0 0 var(--hover);
    }
}

$colors:(

    offset:#3505b9
);


@each $button, $color in $colors {
    .#{$button} {
      --color: #{$color};
      --hover: #{adjust-hue($color, 45deg)};
    }
  }

  button {  
    color: var(--color);
    transition: 0.25s;
    
    &:hover,
    &:focus { 
      border-color: var(--hover);
      color: #fff;
    }
  }
  

button {
    background: none;
    border: 1px solid;
    font: inherit;
    line-height: 1;
    margin: 30px 35px;
    padding: 10px 10px;
  }